
############################################################################
#   Common Variables
############################################################################

# Name of the Storgae Class to Use When One is Needed
#
export STORAGE_CLASS_NAME=longhorn


# URI to the SUSE Rancher Application Collection (App Co)
#
export APP_COLLECTION_URI=oci://dp.apps.rancher.io/charts


# The Name of the Secret to Create that is Used to Access the App Co
#
export IMAGE_PULL_SECRET_NAME=application-collection


############################################################################
#   RKE2/K3S Variables
############################################################################

# K8s distro to deploy
#
# Options: rke2, k3s
#
# Default (recommended): rke2
#
export K8S_DISTRO=rke2


# K8s distro version channel to deploy from
#
# This is the channel containing the version of K8s (RKE2/K3S) to deploy.
#
# If you need a specific version you must supply the version tag.
#   Example: v1.30
# 
# If a spcific version tag is not specified then you must supply one of 
# the following version tags: stable, latest, testing
#   Example: stable
#
# Default: stable
#
export K8S_DISTRO_CHANNEL=stable


# Values Used for the Cluster Token
#
# Also commonly used as the na,e fo the cluster when configuring name
# resolution or when importing the cluster into Rancher Manager.
#
export CLUSTER_NAME=observability


# DNS Domain Name
#
# DNS domain name of the cluster nodes and the cluster
#
# THe AI cluster is assumed to have a DNS entry that resolves 
# CLUSTER_NAME.DOMAIN_NAME to the IP address of the first cluster node 
# (or round-robin DNS/loadbalancer to all cluster control nodes or cluster VIP) 
#
export DOMAIN_NAME=example.com


############################################################################
#   SUSE Storage (Longhorn) Variables
############################################################################

# URL of the Longhorn Helm Repository
#
export LH_HELM_REPO_URL=https://charts.longhorn.io


# Username for the Longhorn Admin User
#
export LH_USER="admin"


# Password for the Longhorn Admin User
#
export LH_PASSWORD="longhorn"


# URL to Access the Longhorn Web UI If Configuring an Ingress
#
export LH_URL="${CLUSTER_NAME}-longhorn.${DOMAIN_NAME}"


# Number of Replicas of Longhorn Service Pods
#
# This typically is set to the number of cluster nodes in the Longhorn cluster.
# For example, if you have a single node cluster this should be set to: 1
#
# This is used for the following Helm chart values:
#   defaultSettings:defaultReplicaCount
#
# Default: 3
#
export LH_DEFAULT_REPLICA_COUNT=1


# The Number of Volume Replicas in the Default Storage Class
#
# When the defualt storage class is created (default name: longhorn) when
# Longhorn is deployed, this is the default number of volume replicas that
# will be defined in that storage class.
#
# This is typically set to the number of cluster nodes if less than 3.
# For example, if you have a single node cluster this should be set to: 1
#
# This is used for the following Helm chart values:
#   persistence:defaultClassReplicaCount
#
# Default: 3
#
export LH_DEFAULT_CLASS_REPLICA_COUNT=1


# The Number of CSI Service Pods
#
# This typically is set to the number of cluster nodes in the Longhorn cluster.
# For example, if you have a single node cluster this should be set to: 1
#
# This is used for the following Helm chart values:
#    csi:attacherReplicaCount
#    csi:provisionerReplicaCount
#    csi:resizerReplicaCount
#    csi:snapshotterReplicaCount
#
# Default: 3
#
export LH_CSI_REPLICA_COUNT=1


# The Percentage of the Default Disk that is Not to Be Allocated
#
# This defines the percentage of the default disk that will not be allocated
# for use as Longhorn storage.
#
# For example, if you have a 1TB disk and if your root volume (/) is 850GB and 
# the percentage is set to 30, only roughly 550GB will be used for Longhorn 
# storage leaving roughly 250GB for use by other things (OS, etc.).
#
# If the first disk is the same disk that your OS is installed on you might 
# want to watch this. However if that disk in 1TB, 30 is probably a little too 
# much to reserve. You might consider setting this to a lower value like 20 or 
# even 15.
#
# This is used for the following Helm chart values:
#   defaultSettings:storageReservedPercentageForDefaultDisk
#
# Default: 30
#
export LH_RESERVED_DISK_PERCENTAGE=15


############################################################################
#   SUSE Observability Variables
############################################################################

# URL of the SUSE Observability Helm Repository
#
export OBSERVABILITY_HELM_REPO_URL=https://charts.rancher.com/server-charts/prime/suse-observability


# Namespae to install SUSE Observability into
#
export OBSERVABILITY_NAMESPACE=suse-observability


# The hostname of the Observability Cluster
#
# Typically set to a name that resolves to the IP address of the first 
# control plane node of the Observability cluster, or for an HA cluster, 
# round-robin or loadbalancer resolves to the control nodes in the cluster 
# or to a VIP that has be configured for the cluster.
#
export OBSERVABILITY_HOST=${CLUSTER_NAME}.${DOMAIN_NAME}


# The URL Used to Access the Observability Web UI
#
# This is what is used for the SUSE Observability URL when cofiguring 
# the Observability extension in Rancher Manager
# 
export OBSERVABILITY_BASEURL=http://${OBSERVABILITY_HOST}


# The Sizing Profile to Use When Generating the sizing_values.yaml File
# 
# This is used when running the 'helm template' command.
#
export OBSERVABILITY_SIZING_PROFILE=trial


# The Directory Where the Custom Values yaml Files are Created
#
export OBSERVABILITY_VALUES_DIR=${PWD}


# Observability Admin Username
#
# If this is set this qill be the username of the admin user.
# If it is left blank the admin username will be: admin
#
export OBSERVABILITY_ADMIN_USERNAME=admin


# Observability Admin User Password
#
# If this is set this password will be set for the admin user
# If it is left blank a password will be generated fro the adimin user.
#
export OBSERVABILITY_ADMIN_PASSWORD=observability


# List of Observability Users and Groups
#
# Space delimited list of colon delimited lists in the following format:
#   <username>:<password>:<role>
#
export OBSERVABILITY_USERS_LIST="
guest:password1234:stackstate-guest 
poweruser:password1234:stackstate-power-user 
troubleshooter:password1234:stackstate-k8s-troubleshooter
"


# The source for the TLS certificates
#
# Options:
#          none         (No TLS will be configured for the ingress)
#          letsEncrypt  (Cert-Manager uses letsEncrypt to generate certificates)
#          secret       (A K8s secret containing the certificate will be used)
#
export OBSERVABILITY_TLS_SOURCE=none


# The path to the certificate file when using OBSERVABILITY_TLS_SOURCE=secret
#
# Note: This is only used when OBSERVABILITY_TLS_SOURCE=secret
#
export OBSERVABILITY_TLS_CERT_FILE=


# The path to the key file when using OBSERVABILITY_TLS_SOURCE=secret
#
# Note: This is only used when OBSERVABILITY_TLS_SOURCE=secret
#
export OBSERVABILITY_TLS_KEY_FILE=


# The path to the CA file when using OBSERVABILITY_TLS_SOURCE=secret
#
# Note: This is only used when OBSERVABILITY_TLS_SOURCE=secret
#
export OBSERVABILITY_TLS_CA_FILE=
